@model IEnumerable<GolbonWebRoad.Admin.Web.Dtos.OrderDto>
@{
    ViewData["Title"] = "مدیریت سفارشات";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>شماره سفارش</th>
            <th>نام کاربر</th>
            <th>تاریخ ثبت</th>
            <th>مبلغ کل (تومان)</th>
            <th>وضعیت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.TotalPrice.ToString("N0")</td>
                <td>
                    <span class="badge bg-info text-dark">@item.OrderStatus</span>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">مشاهده جزئیات</a>
                </td>
            </tr>
        }
    </tbody>
</table>